.container  {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.code {
  background-color: #e3dacd;
  padding: 15px;
  display: inline-block;
  border-radius: 2%;
}

.description {
  margin-top: 20px;
  margin-bottom: -10px;
}
