body {
  text-align: center;
  padding: 0;
  margin: 0;
}

.container  {
  margin: auto;
  max-width: 600px;
}

.code {
  background-color: #e3dacd;
  padding: 15px;
  display: inline-block;
  border-radius: 2%;
}

.description {
  margin-top: 20px;
  margin-bottom: -10px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.pmax {
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.notes {
  background-color: #fdb177;
  padding: 2px;
  border-radius: 10%;
}

.notes a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 16px;

}

.notes:hover {
  padding: 3px;
}

.thin-pipe {
  font-weight: 400;
}

.code-span {
  background-color: #e3dacd;
  padding: 3px;
  display: inline-block;
  border-radius: 2%;
  font-family: Consolas, monaco, monospace;
}
