body {
  text-align: center;
  padding: 0;
  margin: 0;
}

header {
  height: 250px;
  display: block;
  width: 100%;
  border-radius: 0 0 2% 2%;
  box-shadow: 5px 3px 4px #ddd;
}

h1 {
  padding-top: 20;
  padding-left: 40px;
  color: white;
  text-align: left;
  font-weight: 100;
}

.linear-1 {
  background: -webkit-linear-gradient(to right, #a8c3bd, #cfb9ba 90%);
  background:    -moz-linear-gradient(to right, #a8c3bd, #cfb9ba 90%);
  background:         linear-gradient(to right, #a8c3bd, #cfb9ba 90%);
}

.container  {
  margin: auto;
  max-width: 600px;
}

h2:first-child {
  margin-top: 80px;
}

.code {
  background-color: #f7f6f4;
  padding: 15px;
  display: inline-block;
  border-radius: 6px;
}

.description {
  margin-top: 20px;
  margin-bottom: -10px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.pmax {
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.notes {
  background-color: #fdb177;
  padding: 2px;
  border-radius: 10%;
}

.notes a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 16px;

}

.notes:hover {
  padding: 3px;
}

.thin-pipe {
  font-weight: 400;
}

.code-span {
  background-color: #e3dacd;
  padding: 3px;
  display: inline-block;
  border-radius: 2%;
  font-family: Consolas, monaco, monospace;
}

/* Lists --------------------------- */

ul {
  margin-left: 12%;
}

li {
  text-align: left;
}
